body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(173, 230, 217) , rgb(56, 213, 106));
  }
  .v-application {
    background-image: linear-gradient(to bottom, rgb(173, 230, 188), rgb(75, 201, 128)) !important;
}
  
.v-toolbar {
    background-color: rgb(1, 58, 11) !important;
}
